$mute2: #F0F0F0;

.bg-transparent{
  padding: 35px;
  height: 100vh;
}

.text-decoration-none{
  display: block;
  height: 100%;
  width: 100%;
}

.text-muted{
  width: auto;
}

.text-muted:hover{
  transition: all 1.2s ease-in;
  opacity: 100%;
}

